body {
  font-size: 14px;
}

.ant-btn {
  font-size: 14px;
  border-radius: 100px;
}

.ant-table {
  font-size: 14px;

  .ant-table-title {
    padding: 1rem;
  }
}

.ant-breadcrumb {
  font-size: 14px;
}

.ant-menu {
  .ant-menu-item {
    font-size: 14px;
  }

  .ant-menu-submenu .ant-menu-submenu-title {
    font-size: 14px;
  }
}